<!DOCTYPE html>
<html lang="en">
  <head>
    {{>head}}
  </head>
  <body>
    {{>nav}}
    
    <section class="hero-wrap hero-wrap-2" style="background-image: url('images/Uzbekistan_3.jpg');" data-stellar-background-ratio="0.5">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
          <div class="col-md-9 ftco-animate text-center">
            <h1 class="mb-2 bread">Destinations</h1>
            <p class="breadcrumbs"><span class="mr-2"><a href="/#">Home <i class="ion-ios-arrow-forward"></i></a></span> <span>Blog <i class="ion-ios-arrow-forward"></i></span></p>
          </div>
        </div>
      </div>
    </section>
	
		<section class="ftco-section bg-light">
			<div class="container">
				<div class="row">
          <div class="col-md-4 ftco-animate">
            <div class="blog-entry">
              <a href="https://www.google.com/maps/place/Bukhara,+Uzbekistan/@39.7716963,64.4061349,14.08z/data=!4m5!3m4!1s0x3f50060e65993cd5:0xc87beaf40e48e767!8m2!3d39.7680827!4d64.4555769" class="block-20" style="background-image: url('images/Bukhara_2.jpg');">
              </a>
              <div class="text px-4 pt-3 pb-4">
                <div class="meta">
                  <div><a href="#">Feb, 2020</a></div>
                  <div><a href="#">Admin</a></div>
                </div>
                <h3 class="heading"><a href="#">Bukhara is an ancient city in the central Asian country of Uzbekistan. It was a prominent stop on the Silk Road trade route between the East and the West, and a major medieval center for Islamic theology and culture. </a></h3>
                <p class="clearfix">
                  <a href="https://uzbekistan.travel/en/i/bukhara/" class="float-left read">Read more</a>
                  <a href="#" class="float-right meta-chat"><span class="icon-chat"></span> 8</a>
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-4 ftco-animate">
            <div class="blog-entry">
              <a href="https://www.google.com/maps/place/Tashkent,+Uzbekistan/@41.2825125,69.1392827,11z/data=!3m1!4b1!4m5!3m4!1s0x38ae8b0cc379e9c3:0xa5a9323b4aa5cb98!8m2!3d41.2994958!4d69.2400734" class="block-20" style="background-image: url('images/Uzbekistan_4.jpg');">
              </a>
              <div class="text px-4 pt-3 pb-4">
                <div class="meta">
                  <div><a href="#">Jan, 2021</a></div>
                  <div><a href="#">Admin</a></div>
                </div>
                <h3 class="heading"><a href="#">Tashkent is the capital city of Uzbekistan. It’s known for its many museums and its mix of modern and Soviet-era architecture. The Amir Timur Museum houses manuscripts, weapons and other relics from the Timurid dynasty. </a></h3>
                <p class="clearfix">
                  <a href="https://uzbekistan.travel/en/i/tashkent/" class="float-left read">Read more</a>
                  <a href="#" class="float-right meta-chat"><span class="icon-chat"></span> 5</a>
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-4 ftco-animate">
            <div class="blog-entry">
              <a href="https://www.google.com/maps/place/Samarkand,+Uzbekistan/@39.6406042,66.8278028,11z/data=!3m1!4b1!4m5!3m4!1s0x3f4d191960077df7:0x487636d9d13f2f57!8m2!3d39.627012!4d66.9749731" class="block-20" style="background-image: url('images/Samarkand_1.jpg');">
              </a>
              <div class="text px-4 pt-3 pb-4">
                <div class="meta">
                  <div><a href="#">Feb 4, 2019</a></div>
                  <div><a href="#">Admin</a></div>
                </div>
                <h3 class="heading"><a href="#">Samarkand is a city in Uzbekistan known for its mosques and mausoleums. It's on the Silk Road, the ancient trade route linking China to the Mediterranean. </a></h3>
                <p class="clearfix">
                  <a href="https://uzbekistan.travel/en/i/samarkand/" class="float-left read">Read more</a>
                  <a href="#" class="float-right meta-chat"><span class="icon-chat"></span> 8</a>
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-4 ftco-animate">
            <div class="blog-entry">
              <a href="https://www.google.com/maps/place/Khiva,+Uzbekistan/@41.3891412,60.3149838,13z/data=!3m1!4b1!4m5!3m4!1s0x41dfa413ffe48cf9:0xcd75f47f7a6dc0cd!8m2!3d41.3895075!4d60.3414529" class="block-20" style="background-image: url('images/Khiva_1.jpg');">
              </a>
              <div class="text px-4 pt-3 pb-4">
                <div class="meta">
                  <div><a href="#">Feb 4, 2019</a></div>
                  <div><a href="#">Admin</a></div>
                </div>
                <h3 class="heading"><a href="#">Khiva is a city of approximately 90,000 people in Xorazm Region, Uzbekistan. According to archaeological data, the city was established around 1500 years ago..</a></h3>
                <p class="clearfix">
                  <a href="https://uzbekistan.travel/en/i/khiva/" class="float-left read">Read more</a>
                  <a href="#" class="float-right meta-chat"><span class="icon-chat"></span> 6</a>
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-4 ftco-animate">
            <div class="blog-entry">
              <a href="https://www.google.com/maps/place/Shahrisabz,+Uzbekistan/@39.0529916,66.7962736,13z/data=!3m1!4b1!4m5!3m4!1s0x3f4c9aa35638ab11:0xc2a494e199b7b4b0!8m2!3d39.0537978!4d66.8201092" class="block-20" style="background-image: url('images/Shakr_1.jpg');">
              </a>
              <div class="text px-4 pt-3 pb-4">
                <div class="meta">
                  <div><a href="#">Feb 4, 2019</a></div>
                  <div><a href="#">Admin</a></div>
                </div>
                <h3 class="heading"><a href="">Shakhrisabz is a city in Qashqadaryo Region in southern Uzbekistan located approximately 80 km south of Samarkand.. </a></h3>
                <p class="clearfix">
                  <a href="https://uzbekistan.travel/en/i/shakhrisabz/" class="float-left read">Read more</a>
                  <a href="#" class="float-right meta-chat"><span class="icon-chat"></span> 4</a>
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-4 ftco-animate">
            <div class="blog-entry">
              <a href="https://www.google.com/maps/place/Aral+Sea/@45.5086529,58.7571596,8z/data=!3m1!4b1!4m5!3m4!1s0x41ed23b49bf6100f:0x3cde954279e8d69!8m2!3d45.3963063!4d59.6134113" class="block-20" style="background-image: url('images/Aral_Sea.jpg');">
              </a>
              <div class="text px-4 pt-3 pb-4">
                <div class="meta">
                  <div><a href="https://www.nationalgeographic.com/science/article/141001-aral-sea-shrinking-drought-water-environment">Feb 4, 2019</a></div>
                  <div><a href="#">Admin</a></div>
                </div>
                <h3 class="heading"><a href="#">The Aral Sea was an endorheic lake lying between Kazakhstan in the north and Uzbekistan in the south which began shrinking in the 1960s and had largely dried up by the 2010s.. </a></h3>
                <p class="clearfix">
                  <a href="#" class="float-left read">Read more</a>
                  <a href="#" class="float-right meta-chat"><span class="icon-chat"></span> 12</a>
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="row no-gutters my-5">
          <div class="col text-center">
            <div class="block-27">
              <ul>
                <li><a href="#">&lt;</a></li>
                <li class="active"><span>1</span></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li><a href="#">&gt;</a></li>
              </ul>
            </div>
          </div>
        </div>
			</div>
		</section>

    {{>footer}}
    {{>scripts}}
    
  </body>
</html>